* {
  box-sizing: border-box;
}

:root {
  font-family: Verdana, sans-serif;
  --skotus-orange: #f36d21;
  --skotus-blue: #0c7dbb;
  --skotus-lightblue: #009ece;
  --skotus-gray: #dcdcdc;
  --skotus-lightgray: #f5f5f5;
}

body {
  background-color: var(--skotus-lightgray);
  color: #2e2e2e;
}

header {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  box-shadow: 0 2px 3px 0 var(--skotus-gray);
}

header > :last-child {
  margin-left: auto;
}

header img {
  border-radius: 10px;
  height: 60px;
  width: auto;
}

header h1 {
  margin: 0 0 0 0.6rem;
  font-weight: normal;
  color: var(--skotus-orange);
  font-size: 1.5rem;
}

.text-gray {
  color: var(--skotus-gray);
}

main {
  min-height: calc(100vh - 60px - 1.2rem + 3px);
  background-color: white;
  margin: 0 auto;
  padding: 1rem;
  max-width: 1000px;
}

footer {
  border-top: 2px solid var(--skotus-orange);
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: var(--skotus-gray);
}

footer p {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  padding-bottom: 1px;
  color: var(--skotus-blue);
}

a:hover {
  border-bottom: 2px solid var(--skotus-orange);
}

/*===*/

.error-text {
  color: red;
}

.allright-text {
  color: green;
}

.search-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.search-form ul {
  padding: 0;
  margin: 0;
}

.search-string:only-of-type .bool-search-dropdown {
  display: none;
}

.search-string:first-of-type .bool-search-dropdown {
  visibility: hidden;
}

.search-string {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem;
  padding: 0.3rem 0;
  border-top: 3px dotted var(--skotus-gray);
}

.search-string:first-of-type {
  border-top: none;
}

.add-remove-search {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--skotus-blue);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.remove-search {
  margin-right: 0.3rem;
}

.where-search-dropdown,
.bool-search-dropdown {
  text-align: center;
}

.sort-dropdowns {
  align-self: flex-end;
  margin: 0.5rem 0;
  text-align: right;
}

.sort-dropdowns select {
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

.search-form input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 1.2rem;
  padding: 0.1rem;
  text-align: center;
  flex: 1 0 25ch;
}

.search-form input[type="submit"],
.more-button {
  border-radius: 0;
  border: 2px solid transparent;
  background-color: var(--skotus-blue);
  color: white;
  padding: 0.4rem;
  transition: all 0.3s;
}

.search-form input[type="submit"] {
  display: block;
  align-self: flex-end;
}

.search-form input[type="submit"]:hover,
.more-button:hover {
  color: black;
  background-color: white;
  border: 2px solid var(--skotus-orange);
  cursor: pointer;
}

.search-status,
.search-description {
  text-align: center;
}

.uri-text {
  font-size: 0.8rem;
}

.search-results ol {
  padding: 0;
  margin-left: 1rem;
  font-size: 0.8rem;
}

.search-results p {
  font-size: 0.8rem;
  margin: 0 0 0.3rem 0;
  line-height: 1.2;
  color: #2e2e2e;
}

.search-results-entry {
  margin: 2rem 0;
}

.search-results-entry .entry-title {
  font-family: Georgia, serif;
  font-size: 1.2rem;
}

.entry-source .publication-name {
  font-weight: bold;
  font-style: italic;
}

.more-button-container {
  margin: 0 auto;
  text-align: center;
}