.error-text {
  color: red;
}

.allright-text {
  color: green;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 1.2rem;
  padding: 0.2rem;
  text-align: center;
  min-width: 50%;
}

.search-form input[type="submit"],
.more-button {
  border-radius: 0;
  border: 2px solid transparent;
  background-color: var(--skotus-blue);
  color: white;
  padding: 0.4rem;
}

.search-form input[type="submit"] {
  margin-left: 0.6rem;
}

.search-form input[type="submit"]:hover,
.more-button:hover {
  color: black;
  background-color: white;
  border: 2px solid var(--skotus-orange);
  transition: color 0.3s;
  cursor: pointer;
}

.search-status,
.search-description {
  text-align: center;
}

.uri-text {
  font-size: 0.8rem;
}

.search-results ol {
  padding: 0;
  margin-left: 1rem;
  font-size: 0.8rem;
}

.search-results p {
  font-size: 0.8rem;
  margin: 0 0 0.3rem 0;
  line-height: 1.2;
  color: #2e2e2e;
}

.search-results-entry {
  margin: 2rem 0;
}

.search-results-entry .entry-title {
  font-family: Georgia, serif;
  font-size: 1.2rem;
}

.entry-source .publication-name {
  font-weight: bold;
  font-style: italic;
}

.more-button-container {
  margin: 0 auto;
  text-align: center;
}